<h1>User Dashboard of <%= @user.email%></h1>

<%if user_signed_in? && current_user != @user%>
	<h2>Rate this user.</h2>
	<%= link_to 'Create user review', new_review_path(user_id: @user.id)%><br>
<%else%>
	<h3>Bookings</h3>
	<%if @user.bookings.any?%>
<div class="row row-cols-auto px-2">	
	<% @user.bookings.each do |booking|%>
	<div class="col-md-2" > 
		<div class="card border-success h-100 mb-3" style="width: 13rem;">
		<h4 class="text-success"><%= booking.listing.title%></h4><br>
		Check In Date: <%= booking.check_in%><br>
		Check Out Date: <%= booking.check_out%><br>
		Duration: <%= booking.duration%> days<br>
		Total Price: RM <%= booking.total_price%>
		</div>
	</div>
	<%end%>
</div>
	<%else%>
		<p>No bookings found.</p>
	<%end%>
<%end%>
<br>
<br>
<%if @user.listings.any?%>
<div class="row row-cols-auto px-2">
	<% @user.listings.each do |listing|%>
	<div class="col-md-2" > 
		<div class="card border-danger h-100 mb-3" style="width: 13rem;">
		<%= link_to listing_path(listing) do%>
			<%if listing.photos.attached?%>					
				<%= image_tag listing.photos.first, width: 200, height: 200 %>
			<%end%>				
			  <div class="card-body">
			    <p class="card-text"><%= listing.title %></p>
			  </div>
		</div>
		<%end%>
	</div>
		
	<%end%>	
</div>	
	
<%end%>
